<div #hzDatePicker class="hz-datepicker-container"  *ngIf="viewLoaded">
    <div class="hz-datepicker-inner">
        <div class="days">
            <div class="days-prev">
                <button class="dp-button dp-button-prev {{dpConfig.navBtnClasses}}" (click)="onMonthNavClick(MONTH_NAVS.PREV)"><<</button>
            </div>
            <div class="days-inner">
                <div *ngFor="let btn of daysOfMonth" class="day-item">
                    <div [style.display]="dpConfig.showDays? 'block' : 'none'" class="weekday" [ngClass]="{'is-weekend': btn.isWeekend}">
                        {{btn.date | date: dpConfig.dayFormat}}
                    </div>
                    <button 
                        class="dp-button dp-button-day {{dpConfig.btnClasses}} {{btn.isSelected? dpConfig.selectedItemClass : ''}}"
                        (click)="onDateClick(btn)">
                        {{btn.text}}
                    </button>
                </div>
                
            </div>
            <div class="days-next">
                <button class="dp-button dp-button-next {{dpConfig.navBtnClasses}}" (click)="onMonthNavClick(MONTH_NAVS.NEXT)">>></button>
            </div>
        </div>
        <h4 class="text-center selected-date">
            {{selectedDate | date : dpConfig.selectedDateFormat}}
        </h4>
    </div>
</div>